/* FOR SIZING: use em/rem for font size, and %, vh, vw for margins/padding/etc */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
}

body {
    background: #1d1d1d;
    color: whitesmoke;
    font-family: Verdana, Geneva, sans-serif;
}


/* ---------- NAVBAR ----------- */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #90adbb;
}

.logo {
    border-radius: 8px;
    width: 100px;
    margin: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    /* background: #90adbb; */
    background-color: #080808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ---------- NAVBAR ----------- */


/* --------- frontpage ---------- */


#frontpage {
    width: 100%;
    height: 71vh;
}

#navbar {
    padding: auto;
    margin: 10px;
}

.frontpage-text {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
}

.frontpage-text h1 {
    font-size: 60px;
    margin-top:20px;
    color: #90adbb;
}

.frontpage-text p {
    margin-top: 5%;
}

/* --------- /frontpage ---------- */

/* --------- about-me ---------- */

#about {
    padding: 80px;
    color: #90adbb;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 80%;
    border-radius: 15px;

    /* TODO: check this over */
    min-width: 350px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle { 
    font-size: 60px;
    /* font-weight: 600; */
}

.about-col-2 p {
    font-size: 24px;
    padding-top: 16px;
    color: whitesmoke;

    /* I've set line-height = 4/3 font-size */
    line-height: 32px;  
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    /* TODO: idk whether font weight does anything */
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #90adbb;
    position: absolute;
    left: 0;
    bottom: -8px; 
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: whitesmoke;
}

.tab-contents ul li span {
    color: #90adbb;
    font-size: 14px;
    line-height: 28px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* -------- /about-me ----------- */

/* --------- portfolio --------- */

#portfolio {
    padding: 50px;
}

.portfolio-list {
    display: grid;

    /* auto fit the portfolio items, with minimum width 250px before it wraps */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    
}