/* FOR SIZING: use em/rem for font size, and %, vh, vw for margins/padding/etc */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1d1d1d;
    color: whitesmoke;
    font-family: Verdana, Geneva, sans-serif;
}


/* ---------- NAVBAR ----------- */
.sticky {
    position: absolute;
    width: 100%;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-right: 10px;
    
    /* high z-index to stay on top of other divs */
    z-index: 1000;  

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #90adbb;
}

.logo {
    border-radius: 8px;
    width: 100px;
    margin: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    /* background: #90adbb; */
    background-color: #080808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ---------- NAVBAR ----------- */


/* --------- frontpage ---------- */


#frontpage {
    width: 100%;
    height: 71vh;
}

#navbar {
    padding: auto;
    margin: 10px;
}

.frontpage-text {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
}

.frontpage-text h1 {
    font-size: 60px;
    margin-top:20px;
    color: #90adbb;
}

.frontpage-text p {
    margin-top: 5%;
}

/* --------- /frontpage ---------- */

/* --------- about-me ---------- */

#about {
    padding: 80px;
    padding-top: 100px;
    color: #90adbb;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 80%;
    border-radius: 15px;

    /* TODO: check this over */
    min-width: 350px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle { 
    font-size: 60px;
    /* font-weight: 600; */
}

.about-col-2 p {
    font-size: 24px;
    padding-top: 16px;
    color: whitesmoke;

    /* I've set line-height = 4/3 font-size */
    line-height: 32px;  
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    /* TODO: idk whether font weight does anything */
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #90adbb;
    position: absolute;
    left: 0;
    bottom: -8px; 
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: whitesmoke;
}

.tab-contents ul li span {
    color: #90adbb;
    font-size: 14px;
    line-height: 28px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* -------- /about-me ----------- */

/* --------- portfolio --------- */

#portfolio {
    padding: 50px;
    padding-top: 80px;
    color: #90adbb;
}

.portfolio-list {
    display: grid;

    /* auto fit the portfolio items, with minimum width 250px before it wraps */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.portfolio-item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    border-radius: 10px;
    display: block;

    transition: transform 0.5s;
}

.layer {
    width: 100%;
    color: whitesmoke;
    /* Not visible by default (too low) */
    height: 0%;

    background: linear-gradient(rgba(0, 0, 0, 0.6), #00aaff);
    border-radius: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #90adbb;
    text-decoration: none;
    font-size: 32px;

    /* Circle around link icon */
    line-height: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center; 
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #90adbb;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    
    transition: background 0.5s;
}

.btn:hover {
    background: #90adbb;
}

/* ----------- /portfolio ---------- */

/* ----------- contact ----------- */

.contact-left {
    color:whitesmoke;
    flex-basis: 35%;
}

.contact-left h1 {
    color: #90adbb;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #90adbb;
    margin-right: 15px;
    font-size: 25px;

    transition: transform 0.5s;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: whitesmoke;
}

.social-icons i:hover {
    color: #90adbb;
    transform: translateY(-5px);
}

.social-icons i {
    transition: transform 0.5s;
}

.btn.btn2 {
    display: inline-block;
    background: #1d1d1d;

    transition: background 0.5s;
}

.btn.btn2:hover {
    background: #90adbb;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* ------------- /contact ----------- */

/* ------------ media queries (for small screens) --------- */

nav .fa-solid {
    display: none;
}

@media screen and (max-width: 600px) {
    /* NOTE: if we add smthn to frontpage, deal with it here */

    .frontpage-text {
        margin-top: 60%;
        font-size: 16px;
    }

    .frontpage-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #90adbb;
        position: fixed;
        top: 0;
        /* Hidden to the right by default (width 200px) */
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;

        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 p{
        font-size: 14px;
    }

    #about {
        padding: 15px;
        padding-top: 100px;
    }

    #portfolio {
        padding: 15px;
        padding-top: 100px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    #contact {
        padding-top: 100px;
    }
}


/* --------- /media queries ----------*/

/* --------- Email confirmation ------ */

#msg {
    color: whitesmoke;
    margin-top: -40px;
    display: block;
}
